USE [master]
GO
/****** Object:  Database [QLTHUVIEN]    Script Date: 1/12/2024 9:19:07 PM ******/
CREATE DATABASE [QLTHUVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTHUVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLTHUVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTHUVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLTHUVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTHUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTHUVIEN]
GO
/****** Object:  Table [dbo].[cuonsach]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuonsach](
	[isbn] [int] NOT NULL,
	[ma_cuonsach] [int] NOT NULL,
	[tinhtrang] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC,
	[ma_cuonsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[isbn] [int] NOT NULL,
	[ma_DocGia] [int] NOT NULL,
	[ngay_dk] [datetime] NULL,
	[ghichu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC,
	[ma_DocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dausach]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dausach](
	[isbn] [int] NOT NULL,
	[ma_tuasach] [int] NULL,
	[ngonngu] [nvarchar](50) NULL,
	[bia] [nvarchar](50) NULL,
	[trang_thai] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[ma_DocGia] [int] NOT NULL,
	[ho] [nvarchar](50) NULL,
	[tenlot] [nvarchar](50) NULL,
	[ten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_DocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[muon]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[muon](
	[isbn] [int] NOT NULL,
	[ma_cuonsach] [int] NOT NULL,
	[ma_DocGia] [int] NULL,
	[ngay_muon] [datetime] NULL,
	[ngay_hethan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC,
	[ma_cuonsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoilon]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoilon](
	[ma_DocGia] [int] NOT NULL,
	[sonha] [int] NULL,
	[duong] [nvarchar](50) NULL,
	[quan] [nvarchar](50) NULL,
	[dienthoai] [nvarchar](50) NULL,
	[han_sd] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_DocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quatrinhmuon]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quatrinhmuon](
	[isbn] [int] NOT NULL,
	[ma_cuonsach] [int] NOT NULL,
	[ngaygio_muon] [datetime] NOT NULL,
	[ma_DocGia] [int] NULL,
	[ngay_hethan] [datetime] NULL,
	[ngaygio_tra] [datetime] NULL,
	[tien_muon] [money] NULL,
	[tien_datra] [money] NULL,
	[tien_datcoc] [money] NULL,
	[ghichu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC,
	[ma_cuonsach] ASC,
	[ngaygio_muon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treem]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treem](
	[ma_DocGia] [int] NOT NULL,
	[ma_DocGia_nguoilon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_DocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tuasach]    Script Date: 1/12/2024 9:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tuasach](
	[ma_tuasach] [int] NOT NULL,
	[tuasach] [nvarchar](50) NULL,
	[tacgia] [nvarchar](50) NULL,
	[tomtat] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tuasach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuonsach]  WITH CHECK ADD  CONSTRAINT [fk_cuonsach_isbn] FOREIGN KEY([isbn])
REFERENCES [dbo].[dausach] ([isbn])
GO
ALTER TABLE [dbo].[cuonsach] CHECK CONSTRAINT [fk_cuonsach_isbn]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [dangky_dausach_lk] FOREIGN KEY([isbn])
REFERENCES [dbo].[dausach] ([isbn])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [dangky_dausach_lk]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [fk_dangky_mdg] FOREIGN KEY([ma_DocGia])
REFERENCES [dbo].[DOCGIA] ([ma_DocGia])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [fk_dangky_mdg]
GO
ALTER TABLE [dbo].[dausach]  WITH CHECK ADD  CONSTRAINT [fk_dausach_mts] FOREIGN KEY([ma_tuasach])
REFERENCES [dbo].[tuasach] ([ma_tuasach])
GO
ALTER TABLE [dbo].[dausach] CHECK CONSTRAINT [fk_dausach_mts]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [nguoilon_DocGia_lk] FOREIGN KEY([ma_DocGia])
REFERENCES [dbo].[nguoilon] ([ma_DocGia])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [nguoilon_DocGia_lk]
GO
ALTER TABLE [dbo].[muon]  WITH CHECK ADD  CONSTRAINT [fk_muon_isbnmcs] FOREIGN KEY([isbn], [ma_cuonsach])
REFERENCES [dbo].[cuonsach] ([isbn], [ma_cuonsach])
GO
ALTER TABLE [dbo].[muon] CHECK CONSTRAINT [fk_muon_isbnmcs]
GO
ALTER TABLE [dbo].[muon]  WITH CHECK ADD  CONSTRAINT [fk_muon_mdg] FOREIGN KEY([ma_DocGia])
REFERENCES [dbo].[DOCGIA] ([ma_DocGia])
GO
ALTER TABLE [dbo].[muon] CHECK CONSTRAINT [fk_muon_mdg]
GO
ALTER TABLE [dbo].[quatrinhmuon]  WITH CHECK ADD  CONSTRAINT [fk_quatrinhmuon_isbnmcs] FOREIGN KEY([isbn], [ma_cuonsach])
REFERENCES [dbo].[cuonsach] ([isbn], [ma_cuonsach])
GO
ALTER TABLE [dbo].[quatrinhmuon] CHECK CONSTRAINT [fk_quatrinhmuon_isbnmcs]
GO
ALTER TABLE [dbo].[quatrinhmuon]  WITH CHECK ADD  CONSTRAINT [fk_quatrinhmuon_mdg] FOREIGN KEY([ma_DocGia])
REFERENCES [dbo].[DOCGIA] ([ma_DocGia])
GO
ALTER TABLE [dbo].[quatrinhmuon] CHECK CONSTRAINT [fk_quatrinhmuon_mdg]
GO
ALTER TABLE [dbo].[treem]  WITH CHECK ADD  CONSTRAINT [fk_treem_mdgnl] FOREIGN KEY([ma_DocGia_nguoilon])
REFERENCES [dbo].[nguoilon] ([ma_DocGia])
GO
ALTER TABLE [dbo].[treem] CHECK CONSTRAINT [fk_treem_mdgnl]
GO
ALTER TABLE [dbo].[treem]  WITH CHECK ADD  CONSTRAINT [treem_docgia_lk] FOREIGN KEY([ma_DocGia])
REFERENCES [dbo].[DOCGIA] ([ma_DocGia])
GO
ALTER TABLE [dbo].[treem] CHECK CONSTRAINT [treem_docgia_lk]
GO
USE [master]
GO
